body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  size: 100dvb;
  
}

.stopwatch {
  text-align: center;
  border: 100ch;
}

.display {
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color:whitesmoke;
  border-style: outset;
  ;
}

button {
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: lightgrey;
  border-style: outset;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

.lap {
  margin-top: 1rem;
  background-color:lightgray;
  border-style: ridge;
}



